.body {
  margin: 0;
  padding: 0;

  [data-hidden] {
    display: none!important;
  }

  .button {
    background: #13c2c2;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    padding: 4px 8px;
    user-select: none;

    &:hover {
      text-decoration: underline;
    }

    &[data-disabled] {
      background: #bfbfbf;

      &:hover {
        cursor: not-allowed;
        text-decoration: none;
      }
    }

    &-alt {
      box-shadow: inset 0 0 0 2px #13c2c2;
      color: #000;
      cursor: pointer;
      display: inline-flex;
      padding: 4px 8px;
      user-select: none;
      
      &:hover {
        text-decoration: underline;
      }

      &[data-disabled] {
        box-shadow: inset 0 0 0 2px #bfbfbf;

        &:hover {
          cursor: not-allowed;
          text-decoration: none;
        }
      }
    }
  }

  .control {
    display: flex;
    justify-content: space-between;
    margin: 2px 5%;
    user-select: none;

    &-locale {
      display: inline-flex;

      span {
        margin-right: 2px;
      }
    }
  }

  .import, .export, .parse, .new_category, .new_entry, .edit_entry {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;

    &-bg {
      background: #eeeeee7f;
      content: "";
      display: block;
      height: 100vh;
      left: 0;
      position: absolute;
      top: 0;
      width: 100vw;
      z-index: 1;
    }
    
    &-form {
      background-color: #fff;
      padding: 8px;
      position: absolute;
      width: 400px;
      z-index: 2;

      textarea {
        box-sizing: border-box;
        height: 200px;
        resize: none;
        width: 100%;
      }

      label {
        display: inline-flex;
        width: 160px;
      }

      [data-invalid] {
        background-color: #fff1f0;
      }
    }

    &-to {
      font-weight: bold;
      text-decoration: underline;
    }

    &-actions {
      margin-top: 4px;
    }

    &-status {
      height: 1.5em;
      margin-top: 4px;

      &[data-state="error"] {
        color: #f5222d;
      }
    }

    &-save {
      display: inline-flex;
    }

    &-grouped {
      display: flex;
      justify-content: space-between;
    }
  }

  .entry {
    &-edit {
      margin: 0 2px;
    }
  }
  .display {
    margin: 0 10%;

    &-category {
      margin-top: 16px;

      &-name {
        font-weight: bold;
        font-size: 2em;
      }

      &-description {
        font-style: italic;
      }

      &-editname, &-editdescription {
        font-size: 1rem;
        margin: 0 2px;
      }

      &-action, &-nameaction, &-descriptionaction {
        display: inline-flex;
        font-size: 1rem;

        &-ok {
          margin: 0 2px;
        }
      }

      &-delete {
        &-confirm {
          margin-left: 4px;
        }

        &-no {
          margin: 0 2px;
        }
      }
    }

    .category {
      &-entry {
        li {
          margin: 2px 0;
        }
      }
    }
  }
}

#export-output {
  width: 100%;
}
