.body {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans", sans-serif; }
  .body [data-hidden] {
    display: none !important; }
  .body .button {
    background: #13c2c2;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    padding: 4px 8px;
    user-select: none; }
    .body .button:hover {
      text-decoration: underline; }
    .body .button[data-disabled] {
      background: #bfbfbf; }
      .body .button[data-disabled]:hover {
        cursor: not-allowed;
        text-decoration: none; }
    .body .button-alt {
      box-shadow: inset 0 0 0 2px #13c2c2;
      background-color: #fff;
      color: #000;
      cursor: pointer;
      display: inline-flex;
      padding: 4px 8px;
      user-select: none; }
      .body .button-alt:hover {
        text-decoration: underline; }
      .body .button-alt[data-disabled] {
        box-shadow: inset 0 0 0 2px #bfbfbf; }
        .body .button-alt[data-disabled]:hover {
          cursor: not-allowed;
          text-decoration: none; }
  .body .control {
    display: flex;
    justify-content: space-between;
    margin: 2px 5%;
    user-select: none; }
    .body .control--locale {
      display: inline-flex; }
      .body .control--locale span {
        margin-right: 2px; }
  .body .modal {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw; }
    .body .modal-bg {
      background: #eeeeee7f;
      content: "";
      display: block;
      height: 100vh;
      left: 0;
      position: absolute;
      top: 0;
      width: 100vw;
      z-index: 1; }
    .body .modal-form {
      background-color: #fff;
      max-height: 80vh;
      overflow: auto;
      padding: 8px;
      position: absolute;
      width: 600px;
      z-index: 2; }
      .body .modal-form-item {
        margin: 2px 0;
        display: flex; }
        .body .modal-form-item:first-child {
          margin-top: 0; }
        .body .modal-form-item:last-child {
          margin-bottom: 0; }
      .body .modal-form-input {
        flex-grow: 1; }
      .body .modal-form textarea {
        box-sizing: border-box;
        height: 300px;
        resize: none;
        width: 100%; }
      .body .modal-form label {
        display: inline-flex;
        width: 160px; }
      .body .modal-form [data-invalid] {
        background-color: #fff1f0; }
      .body .modal-form .export-save {
        display: inline-flex; }
    .body .modal-actions {
      margin-top: 4px; }
    .body .modal-status {
      height: 1.5em;
      margin-top: 4px; }
      .body .modal-status[data-state="error"] {
        color: #f5222d; }
    .body .modal-grouped {
      display: flex;
      justify-content: space-between; }
  .body .entry-edit {
    margin: 0 2px; }
  .body .entry-delete-confirm {
    margin-left: 4px; }
  .body .entry-delete-no {
    margin: 0 2px; }
  .body .display {
    margin: 0 10%;
    margin-bottom: 50px; }
    .body .display-category {
      margin-top: 16px; }
      .body .display-category-head {
        margin-top: 16px; }
      .body .display-category-name {
        font-weight: bold;
        font-size: 2em; }
      .body .display-category-description {
        font-style: italic; }
      .body .display-category-editname, .body .display-category-editdescription {
        font-size: 1rem;
        margin: 0 2px; }
      .body .display-category-action, .body .display-category-nameaction, .body .display-category-descriptionaction {
        display: inline-flex;
        font-size: 1rem; }
        .body .display-category-action-ok, .body .display-category-nameaction-ok, .body .display-category-descriptionaction-ok {
          margin: 0 2px; }
      .body .display-category-delete-confirm {
        margin-left: 4px; }
      .body .display-category-delete-no {
        margin: 0 2px; }
    .body .display .category-entry {
      table-layout: fixed;
      width: 100%; }
      .body .display .category-entry tr:not(:first-of-type):hover {
        background-color: #b5f5ec; }
      .body .display .category-entry tr th {
        border-bottom: 2px solid #08979c; }
        .body .display .category-entry tr th:nth-child(1) {
          width: 50%; }
        .body .display .category-entry tr th:nth-child(2) {
          width: 50px; }
        .body .display .category-entry tr th:nth-child(3) {
          width: 200px; }
      .body .display .category-entry tr td {
        border-bottom: 1px solid #13c2c2; }

#export-output {
  width: 100%; }

/*# sourceMappingURL=index.css.map */
